/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#app {
  isolation: isolate;
}


/* ****************** */

body {
  background-color: rgb(15, 23, 31);

  font-size: 20px;
  /* height: 100%; */
  padding: 10px;

  font-family: sans-serif;

}

#textcontainer {
  display: flex;
  gap: 20px;
  justify-content: center;

  margin-bottom: 1em;
}
.mirrorcontainer {
  flex: 1;
  height: 20vh;
  min-height: 300px;
  max-width: 500px;
  background-color: white;

  font: 20px monospace;

  position: relative;
}
.mirrorcontainer > * {
  position: absolute;
  margin: 0;
  border: 0;
  font: inherit;
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.mirror {
  color: transparent;
}
.mirror > [data-new=true] {
  background-color: #daebdd;
}
.mirror > .hovered {
  background-color: #f3c469;
}
.mirror > .leftOrigin {
  background-color: #adffd8;
}
.mirror > .rightOrigin {
  background-color: #ade0ff;
}


textarea {
  /* Need to make this as "generic" as possible to line up characters */
  background-color: transparent;

  width: 100%;
  height: 100%;

  /* color: rgba(0, 0, 0, 0.5); */
}

button {
  display: block;
  margin: 1em auto;
}

#reset {
  margin-top: 3em;
}

#iteminfo {
  width: fit-content;
  /* background-color: hotpink; */
  margin: 1em auto;
  /* max-width: 300px; */
  font: 20px monospace;
  color: white;
  white-space: pre-wrap;
}
