/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#app {
  isolation: isolate;
}


/* ****************** */

body {
  background-color: rgb(15, 23, 31);

  font-size: 20px;
  /* height: 100%; */
  padding: 10px;

  font-family: sans-serif;

}

#textcontainer {
  display: flex;
  gap: 20px;
  justify-content: center;

  margin-bottom: 1em;
}

textarea {
  flex: 1;
  height: 50vh;
  min-height: 300px;
  max-width: 500px;
}

button {
  display: block;
  margin: 1em auto;
}

#pushRight {
  /* top: 50px; */
}

#pushLeft {
  /* top: 100px; */
}

#reset {
  /* top: 170px;
  font-size: 24px;
  width: 3em;
  margin-left: -1.5em; */
}
